body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 16px;
}

.container,
.header,
.sketchpad {
  display: flex;
  flex-direction: column;
}

.container,
.header {
  align-items: center;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 24px;
}

.header > * {
  margin-top: 16px;
}

.heading,
.header,
.footer {
  text-align: center;
}

.sketchpad {
  margin: 20px 0;
  border: 2px solid black;
}

.row {
  display: flex;
  border-bottom: 1px solid black;
}

.box {
  border-right: 1px solid black;
}

.no-border {
  border: none;
}

.faq {
  text-align: left !important;
  margin-top: 24px 0;
}

.footer {
  margin: 16px 0;
}

@media (max-width: 500px) {
  .heading {
    font-size: 32px;
  }

  /* .container {
    padding: 0 25px; MAY HAVE TO DETECT THIS ON MOBILE
  } */
}
