body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 48px;
}

.container,
.header,
.sketchpad {
  display: flex;
  flex-direction: column;
}

.container,
.header {
  align-items: center;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
}

.heading,
button {
  margin: 10px 0;
}

.header > * {
  margin-top: 10px;
}

.heading,
.header,
.footer {
  text-align: center;
}

.sketchpad {
  margin: 20px 0;
  border: 2px solid black;
}

.row {
  display: flex;
  border-bottom: 1px solid black;
}

.row,
.box {
  border-right: 1px solid black;
}

.faq {
  margin: 24px 0;
}

.instructions {
  text-align: left !important;
}

.footer {
  margin: 16px 0;
}

@media (max-width: 500px) {
  .heading {
    font-size: 32px;
  }
}
